
.phone {
  width: 100%;
  -webkit-box-shadow: 8px 8px 5px -4px rgba(140,140,140,0.8);
  -moz-box-shadow: 8px 8px 5px -4px rgba(140,140,140,0.8);
  box-shadow: 8px 8px 5px -4px rgba(140,140,140,0);
}
